<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.android.mcandroidsystemservice"
  android:sharedUserId="android.uid.system">                            
  <application android:name=".MCAndroidSystemService" 
        android:persistent="true"
        android:exported="true"> 
    <uses-library android:name="com.android.mcandroidsystemservice.lib" />    
  </application>
</manifest>